<h1 class="mb-4">Редагувати проєкт</h1>
<%= render 'form', project: @project %>
<div class="mt-3">
  <%= link_to "Переглянути", @project, class: "btn btn-info text-white" %> 
  <%= link_to "Назад до списку", projects_path, class: "btn btn-secondary" %>
</div>
