<div id="<%= dom_id team_member %>">
  <div>
    <strong>Name:</strong>
    <%= team_member.name %>
  </div>

  <div>
    <strong>Role:</strong>
    <%= team_member.role %>
  </div>

  <div>
    <strong>Project:</strong>
    <%= team_member.project_id %>
  </div>

</div>
